discord.py
rich
dotenv
openai
asyncpg
groq
requests
wikipedia-api
aiofiles
aiogoogletrans #gender
moviepy
async-lru
tzdata # cant believe this is a real thing
# nltk - not used anymore (why did it ask for sqlite3)